<ion-content [fullscreen]="true">
  <form class="form" (ngSubmit)="onLogin()">
    <p>Welcome,<span>login to continue</span></p>
    <input
      type="email"
      placeholder="Email"
      name="email"
      [(ngModel)]="user.email"
      required
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
    />
    <input
      type="password"
      placeholder="Password"
      name="password"
      [(ngModel)]="user.password"
      required
    />

    <button type="submit" class="oauthButton">
      Continue
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="m6 17 5-5-5-5"></path>
        <path d="m13 17 5-5-5-5"></path>
      </svg>
    </button>
    <!--reditigir a registrarse-->
    <button type="button" (click)="onRegisterRedirect()" class="oauthButton">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="m6 17-5-5 5-5"></path>
        <path d="m13 17-5-5 5-5"></path>
      </svg>
      register
      
    </button>
  </form>
</ion-content>
