<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Editar Tarea' : 'Nueva Tarea' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">
        <ion-icon name="checkmark-outline"></ion-icon>
        {{ isEditMode ? 'Guardar' : 'Crear' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <ion-item class="input-item" lines="full">
      <ion-icon name="text-outline" slot="start" color="primary"></ion-icon>
      <ion-input
        name="title"
        labelPlacement="floating"
        label="Título de la tarea"
        [(ngModel)]="title"
        placeholder="Ej: Completar informe mensual"
        required
      ></ion-input>
    </ion-item>

    <ion-item class="input-item" lines="full">
      <ion-icon
        name="document-text-outline"
        slot="start"
        color="primary"
      ></ion-icon>
      <ion-textarea
        name="description"
        labelPlacement="floating"
        label="Descripción"
        [(ngModel)]="description"
        placeholder="Describe los detalles de la tarea..."
        rows="4"
        auto-grow="true"
      ></ion-textarea>
    </ion-item>

    <ion-item class="input-item" lines="full">
      <ion-icon name="flag-outline" slot="start" color="primary"></ion-icon>
      <ion-select
        name="status"
        labelPlacement="floating"
        label="Estado"
        [(ngModel)]="status"
        interface="action-sheet"
      >
        <ion-select-option value="pending">
          <ion-icon name="time-outline"></ion-icon> Pendiente
        </ion-select-option>
        <ion-select-option value="in-progress">
          <ion-icon name="sync-outline"></ion-icon> En Progreso
        </ion-select-option>
        <ion-select-option value="completed">
          <ion-icon name="checkmark-circle-outline"></ion-icon> Completada
        </ion-select-option>
      </ion-select>
    </ion-item>

    <div class="button-group">
      <ion-button expand="block" (click)="confirm()" color="primary">
        <ion-icon
          name="{{ isEditMode ? 'save-outline' : 'add-circle-outline' }}"
          slot="start"
        ></ion-icon>
        {{ isEditMode ? 'Actualizar Tarea' : 'Crear Tarea' }}
      </ion-button>
      @if (isEditMode) {
      <ion-button expand="block" color="danger">Exportar tarea PDF</ion-button>
      }
    </div>
  </div>
</ion-content>
